
/*================================
color
===============================*/
$base-color: #2D2D32;
$base-color2: #FFFFFF;
$base-color3: #F9F9F9;
$base-color4: #000000;
$main-color: #64629D;
$main-color2: #9F9EC1;
$main-color3: #EDECFC;

